---
layout: page
title: Publications
permalink: /publications/
weight: 2
---
{% assign grad_pubs = site.publications | where_exp: "pub", "pub.group != 'undergrad'" %}
{% assign sorted_pubs = grad_pubs | sort: 'date' %}

{% for pub in sorted_pubs reversed %}
{% include pub_badge.html pub=pub %}
{% endfor %}

<hr>

{% assign ugrad_pubs = site.publications | where_exp: "pub", "pub.group == 'undergrad'" %}
{% assign sorted_ugrad_pubs = ugrad_pubs | sort: 'date' %}
<h1>Undergraduate</h1>
{% for pub in sorted_ugrad_pubs reversed %}
{% include pub_badge.html pub=pub %}
{% endfor %}


