<div class="publication-badge col-lg-4 col-md-6 col-xs-12 d-flex">
  <div class="publication-badge-inner d-flex flex-column">
    <div class="publication-pic">
      {% if pub.thumbnail.size > 0 %}{% if pub.pdf %}<a href="{{ pub.pdf }}">{% else %}<a href="#">{% endif %}<img src="{{ pub.thumbnail }}"/></a>{% endif %}&nbsp;
    </div>
    <h2>{{ pub.title }}</h2>
    <span class="authors">{% include author_list.html authors=pub.authors %}</span><br />
    <span><i>{{ pub.conference }}</i>{% if pub.award %}, <span class="award">{{ pub.award }}</span>{% endif %}</span>
    <br/>
    {% if pub.press.size > 0 %}
    <span><b>Press: </b>
    {% for press in pub.press %}
    <a href="{{press.url}}">{{press.name}}</a>{% if forloop.rindex0 > 0 %}, {% endif %}
    {% endfor %}</span>
    <br/>
    {% endif %}
    <div class="mt-auto">
      {% if pub.date <= site.time %}
        {% if pub.pdf %}<a href="{{ site.url }}{{ pub.pdf }}">PDF</a>{% endif %}
        {% if pub.video.size > 0 %} • <a href="{{ pub.video }}" target="_blank">Video</a> {% endif %}
        {% if pub.citation %} • <a href="#" aria-label="Citation" data-toggle="modal" data-target="#{{pub.title | slugify}}_citation">Citation</a>{% endif %}
        {% if pub.bibtex %} • <a href="#" data-toggle="modal" data-target="#{{pub.title | slugify}}_bibtex">BibTeX</a>{% endif %}
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="{{pub.title | slugify}}_bibtex">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ pub.title }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <pre class=".pre-scrollable"><code>{{ pub.bibtex }}</code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="{{pub.title | slugify}}_citation">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ pub.title }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <pre class=".pre-scrollable"><code>{{ pub.citation }}</code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
