.pub {
    margin: 10px;
    min-height: 130px;
    font-size: 10pt;
    position: relative;
    border-color: #d6d6d6;
    border-width: thin;

}

.pub img {
    width:150px;
    border-radius: 10px;
}

.pub .title {
    font-size: 12pt;
}
.pub .authors {
}


.pub .venue {
    color: rgb(196, 196, 196);
}

.pub .note {
}

.pub .award {
    color: #3592e3;
    font-weight: bold;
    text-transform: uppercase;
}
.pub .minor {
    color: #3592e3;
}

.pub .links {
    
}

.publication-badge {
  margin-bottom: 15px;
  font-size: 10pt;
  .glyphicon-file {
    color: #980000;
  }
  
  .publication-pic {
    max-width: 300px;
    a {
      display: block;
      position: relative;
      padding-bottom: 56.25%;
      //border-radius: 10px;
      overflow: hidden;
      @media (min-width: 768px){
      }
      img {

        width: 100%;
        vertical-align: middle;
        position: absolute;
        top: 0px;
        left: 0px;
        @media (min-width: 768px){
          //max-width: 150px;
        }
      }
    }
  }
  .authors a {
    color: $darkGray;
    text-decoration: underline;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: $avenirHeavy;
  }
  
  .btn {
    //width: 70px;
    //margin-top: 5px;
    //text-align:left;
  }
  
  .award {
    color: #c70000;
    font-family: $avenirHeavy;
  }
}